/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Pages Colors */
:root {
  --primary-color: #69c6ba;
  --secondary-color: #c66995;
  --text-color: #212529;
}

/* General Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #e6e6e6;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

/* Custom Styles */
.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}
.btn {
  padding: 14px;
  background: var(--primary-color);
  border: 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
}
.btn-primary:hover {
  background: #5eb1a6;
}

.mt-12 {
  margin-top: 12px;
}
.mt-16 {
  margin-top: 16px;
}
.mt-32 {
  margin-top: 32px;
}
.ml-10 {
  margin-left: 10px;
}
/* Flex */
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-30 {
  flex: 0 1 30%;
}
.flex-48 {
  flex: 0 1 48%;
}
.flex-col {
  flex-direction: column;
}
.items-start {
  align-items: flex-start;
}
.self-stretch {
  align-self: stretch;
}
.flex-justify-around {
  justify-content: space-around;
}

/* Header */
.header {
  background: #fff;
  padding: 32px 0;
}
.header h2 {
  margin-left: 12px;
  color: var(--text-color);
  font-weight: 700;
  font-size: 38px;
}
.navbar li {
  margin-left: 64px;
}
.navbar a {
  color: var(--text-color);
  font-weight: 700;
  font-size: 14px;
}
.navbar a:hover,
.navbar a:focus {
  color: var(--primary-color);
}

/* Hero */
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../media/banner.jpg") no-repeat;
  background-size: cover;
  padding: 80px;
}

.hero-header {
  color: #fff;
}
.hero-heading {
  font-size: 55px;
  text-transform: uppercase;
}
.hero-header-img {
  width: 12px;
}
.hero-text {
  font-size: 28px;
}
.down-arrow {
  width: 40px;
  height: 40px;
  background: var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.down-arrow:hover {
  background: #5eb1a6;
}

/* Form */
.form {
  background: #f5f5f5;
  padding: 40px 24px;
  margin-top: 100px;
}
.form label {
  display: block;
}
.form label {
  font-size: 14px;
  font-weight: 700;
  color: var(--text-color);
}
.form input,
.form select {
  display: inline-block;
  margin-top: 16px;
  border: 0;
  background: #f5f5f5;
  padding: 14px;
  outline: 0;
  width: 100%;
}
.form select {
  padding: 14px 0;
}
.form button {
  width: 100%;
}
